.container-Main {
     height: 630px;
     /* border: 1px solid red; */
}

.ปุ่มข่าวสาร {
     background: #72FFFF;
     border: none;
     padding: 5px 15px;
     border-radius: 8px;
}

.ปุ่มข่าวสาร:hover{
     background-color: white;
     border: 1px solid black;
}


@media only screen and (max-width: 420px) {

     .container-content h1 {
          font-size: 10px;
          font-family: 'Courier New', Courier, monospace;
     }

     .nav_link {
          font-size: 12px;
     }

     hr {
          width: 100%;
     }

}